.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    border-radius: 8px; /* 전체 그리드의 바깥 모서리만 radius 8px로 설정 */
    overflow: hidden; /* 내부 요소가 바깥으로 나가지 않도록 설정 */
    border: 1px solid rgba(0,0,0,.125); /* 그리드 전체의 외부 테두리 */
}

.grid-item {
    padding: 4px;
    text-align: center;
    cursor: pointer;
    
}

.month-cell {
    border-radius: 0;
}

/* Top row - Left cell */
.grid-container .grid-item:nth-child(1) {
    border-top-left-radius: 8px;
}

/* Top row - Right cell */
.grid-container .grid-item:nth-child(2) {
    border-top-right-radius: 8px;
}

/* Bottom row - Left cell */
.grid-container .grid-item:nth-last-child(2):not(:nth-last-child(1)) {
    border-bottom-left-radius: 8px;
    border-bottom: 0;
}

/* Bottom row - Right cell */
.grid-container .grid-item:nth-last-child(1) {
    border-bottom-right-radius: 8px;
    border-bottom: 0;
}

/* Internal borders */
.grid-container .grid-item {
    border-right: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

/* Remove right border for last column items */
.grid-container .grid-item:nth-child(2n) {
    border-right: 0;
}

/* Remove bottom border for last row items */
.grid-container .grid-item:nth-last-child(-n+2) {
    border-bottom: 0;
}


.grid-item.active {
    background-color: #04825C;
    color: white;
    border-color: #04825C;
}

.list-group-item.active {
    background-color: #04825C;
    color: white;
    border-color: #04825C;
}

.equal-height-container {
    display: flex;
    min-width: 680px;
    height: 400px;
    padding: 18px;
    background: #ffffff;
    border-radius: 16px;
    flex: 3;
}

.column-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%; /* Set a maximum width for each column */
    overflow: hidden;
    gap: 8px;
}

.column-container h4 {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    padding: 10px 0;
}

.list-group-container {
    height: calc(100% - 50px); /* Adjust based on the height of the header */
    overflow-y: auto;
}

.category-name {
    font-weight: bold;
    background-color: #f8f9fa;
    cursor: default;
}

.category-name:hover {
    background-color: #f8f9fa; /* Prevent hover effect */
}

.bold-text {
    font-weight: bold;
    pointer-events: none;
    background-color: transparent;
    /* Add this rule to style the main categories */
    background-color: #f0f0f0; /* 회색 배경 */
}

.budgethistory {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex: 2;
    background: #ffffff;
    border-radius: 16px;
    height: 400px;
    min-width: 440px;
}

.table-container {
    max-height: 300px; /* Set max-height for the table container */
    overflow-y: scroll; /* Vertical scroll if needed */
    box-shadow: none;
    padding: 0px;
    border-radius: 0px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: center;
    padding: 2px;
    border: 1px solid rgba(0,0,0,.125);
    font-size: .95rem;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #F8F8F8;
    z-index: 1;
}





/* Responsive */
@media (max-width: 576px) {
    /* Mobile (extra small devices, phones) */

    .login-bar{
        gap: 16px;
    }
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar-sticky {
        height: fit-content;
    }
    .main {
        margin-left: 0;
        width: 100%;
    }
    .login-bar {
        display: none;
    }
    
    .content-row {
        padding: 10px;
    }
    .row{
        flex-direction: column;
    }
    .col-md-8{
        max-width: 100%;
    }
 
    .crocodile {
        width: auto;
        height: 100%;
    }



}

@media (min-width: 577px) and (max-width: 768px) {
    /* Tablet (small devices, tablets) */
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar-sticky {
        height: fit-content;
    }
    .main {
        margin-left: 0;
        width: 100%;
    }
    .login-bar {
        display: none;
    }

    .content-row {
        padding: 0px;
    }
    .crocodile {
        width: auto;
        height: 100%;
    }
}

@media (min-width: 769px) {
    /* Laptop (medium devices, laptops/desktops) */
    .sidebar {
        width: 280px;
    }

    .main {
        margin-left: 280px; /* Ensure this matches the max-width of the sidebar */
        width:100%;
    }
 
    .content-row {
        padding: 0px;
    }
    .col-md-6{
        max-width: 100%;
    }
    .row {
        gap: 24px;
    }
    .crocodile {
        width: 100%;
    }
    
}

@media (min-width: 1980px) {
    .row {
        flex-wrap: nowrap;
        gap: 24px;
    }
    .crocodile {
        width: 100%;
    }
    
}
