<div class="col-md-6">
    <div class="net-worth-container">
        <div>
            <h2 class="card-title">순자산 계산 결과</h2>
            <div class="row">
                <div class="col-md-6">
                    <p id="total_assets" class="result-item">총 자산 <span>0</span></p>
                    <p id="investment_assets_total" class="result-item">투자 자산 합 <span>0</span></p>
                    <p id="real_estate_total" class="result-item">부동산 자산 합 <span>0</span></p>
                    <p id="other_long_term_assets_total" class="result-item">기타 장기 자산 합 <span>0</span></p>
                </div>
                <div class="col-md-6">
                    <p id="total_liabilities" class="result-item">총 부채 <span>0</span></p>
                    <p id="cash_equivalents_total" class="result-item">현금 및 현금성 자산 합 <span>0</span></p>
                    <p id="retirement_accounts_total" class="result-item">퇴직연금 및 연금 계좌 합 <span>0</span></p>
                    <p id="debt_ratio" class="result-item">부채 비율 <span>0%</span></p>
                    <p id="liquidity_ratio" class="result-item">자산 대비 현금 비율 <span>0%</span></p>
                </div>
            </div>
            <hr>
            <p id="net_worth" class="net-worth mt-3">순자산: <span>0</span></p>
        </div>
    </div>
    <div class="row mt-4">
        <div id="natureChart" class="chart-container col-md-6"></div>
        <div id="assetChart" class="chart-container col-md-6"></div>
    </div>
</div>