<!-- Sidebar -->
<nav id="sidebarMenu" class="d-md-block sidebar">
    
    <div class="sidebar-sticky">
        <div>
            <h1 id="crocodile-container">
                <img class="crocodile" src="{{ url_for('static', filename='images/croc_logo.png') }}" alt="Logo" id="crocodile">
                <div id="speech-bubble">
                    <div>{{ current_user.username }}님 부자될크앙-! 🤑</div>
                </div>
            </h1>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('dashboard') }}">
                    자산 대시보드
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('history') }}">
                    자산 히스토리
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('retirement') }}">
                    은퇴 계산기
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('economic_indicators') }}">
                    경제지표
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('budget') }}">
                    먼슬리 가계부
                </a>
            </li>
        </ul>
    </div>
        <div class="sidebar-footer">

            <a style="font-size: 0.9rem;"> 이 앱이 마음에 드시나요? </a>
            <button class="nav-link-coffee" onclick="window.location.href='https://buymeacoffee.com/heymoana'">Buy me a coffee ☕️ </button>
            <a style="font-size: 0.9rem;"> 더 추가하고 싶은 기능이 있다면, </a>
            <button class="nav-link-contact" onclick="window.location.href='mailto:heymoana321@gmail.com'">Contact Developer 💌</button>
        </div>
    </div>
</nav>