<!DOCTYPE html>
<html lang="ko">
    <!-- head -->
    {% include '_head.html' %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TC829VBX7Y"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TC829VBX7Y');
    </script>
    <body>
        <div id="app">
            <div class="row">
                <!-- Sidebar -->
                {% include '_sidebar.html' %}
                <main role="main" class="main col-md-8 px-4">
                    <div class="login-bar d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-4 mb-4">
                        <h1>경제 지표</h1>
                        <div>
                            <a href="{{ url_for('logout') }}" class="btn btn-secondary logout-btn">로그아웃</a>
                        </div>
                    </div>
                    <!-- Economic Indicators Body -->
                    <div class="container">
                        <div id="indicatorsContainer" class="grid-container">
                            <div class="grid-item">
                                <h2 class="mb-3">NASDAQ and S&P 500</h2>
                                <div class="result-item" id="index-nasdaq"></div>
                                <div class="result-item" id="index-sp500"></div>
                                <div class="mt-4" id="chart-nasdaq-sp500"></div>
                            </div>
                            <div class="grid-item">
                                <h2 class="mb-3" >KOSPI & KOSDAQ</h2>
                                <div class="result-item" id="index-kospi"></div>
                                <div class="result-item" id="index-kosdaq"></div>
                                <div class="mt-4" id="chart-kospi-kosdaq"></div>
                            </div>
                            <div class="grid-item">
                                <h2 class="mb-3">KOSPI 이격도</h2>
                                <div class="result-item" id="index-disparity-20"></div>
                                <div class="result-item" id="index-disparity-60"></div>
                                <div class="result-item" id="index-disparity-200"></div>
                                <div class="mt-4" id="chart-kospi-disparity"></div>
                            </div>
                            <div class="grid-item">
                                <h2 class="mb-3">KOSPI PBR</h2>
                                <div class="result-item" id="index-kospi-pbr"></div>
                                <div class="mt-4" id="chart-kospi-pbr"></div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- Load JavaScript files at the end of the body to ensure the DOM is fully loaded -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='js/economicIndicators.js') }}"></script>
    </body>
</html>